.thislider {
    margin-top: -10%;
}

section {
    min-height: 600px;
}

.galeri {
    min-height: 500px;
}

.galeri .card {
    opacity: 0;
    transition: .5s;
    transform: translate(0, -40px);
}

.galeri .card.muncul {
    opacity: 1;
    transform: translate(0, 0);

}